.overviewCard {
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 16px;
    width: calc(25% - 12px);
}

.overviewCard .cardHeader {
    align-items: center;
    color: hsl(228, 12%, 44%);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 700;
}

.overviewCard .cardHeader img {
    height: 16px;
    margin-right: 4px;
    width: 16px;
}

.metricContainer {
    align-items: baseline;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 16px;
}

.metricContainer .metricNumber {
    font-size: 24px;
    font-weight: 700;
}

.metricContainer .percentChangeContainer {
    font-size: 12px;
    display: flex;
    align-items: center;
}
.metricContainer img {
    margin-right: 4px;
}

.metricContainer span {
    font-weight: 700;
}

.metricContainer .positive {
    color: hsl(163, 72%, 41%);
}

.metricContainer .negative {
    color: hsl(356, 69%, 56%);
}
